@CHARSET "UTF-8";

/*
 * @author ( Jürg Altwegg )
 *
 * CSS für Spezialitäten in der Komponente com_zeitbank
*/


/* ##########################  table  ########################### */


table.zeitbank { 
	width: 750px;
	border: none;
}

table.zeitbank tr td { padding: 3px 5px 3px 5px; }
table.zeitbank tr th { padding: 3px 5px 3px 5px; }

table.zeitbank tr.head { background-color: #7BB72B; color:white; }
table.zeitbank tr.odd { vertical-align: middle; background-color: #e9e2c8; }
table.zeitbank tr.even { vertical-align: middle; background-color: #eeeeee; }

/**
 * Marktplatz
 */
table.market_overview { 
  width: 850px;
  border: none;
}

table.market_overview tr td { padding: 3px 5px 3px 5px; }
table.market_overview tr th { padding: 3px 5px 3px 5px; }

table.market_overview tr.head { background-color: #7BB72B; color:white; }
table.market_overview tr.odd { vertical-align: middle; background-color: #e9e2c8; }
table.market_overview tr.even { vertical-align: middle; background-color: #eeeeee; } 
 
table.market_details
{
  border: none;
}

table.market_details td.lb
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  font-weight:bold;
}

table.market_details td.value
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
}

table.market_form
{
  border: none;
}

table.market_form td.lb
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  font-weight:bold;
}

table.market_form td.value
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  width: 500px;
}
