@CHARSET "UTF-8";

/*
 * @author ( Jürg Altwegg )
 *
 * CSS für Spezialitäten in der Komponente com_zeitbank
*/

h1.zeitbank {
	font-weight:bold;
	color: #7BA428;
	margin-bottom:10px;
	padding-bottom:0px;
}

/* ##########################  table  ########################### */

table.zeitbank { 
	width: 850px;
	border: none;
}

table.zeitbank tr td { padding: 3px 5px 3px 5px; }
table.zeitbank tr th { padding: 3px 5px 3px 5px; }

table.zeitbank tr.head { background-color: #7BB72B; color:white; }
table.zeitbank tr.odd { vertical-align: top; background-color: #e9e2c8; }
table.zeitbank tr.even { vertical-align: top; background-color: #eeeeee; }

table.zeitbank tr.zb_odd { vertical-align: top; background-color: #eeeeee; }
table.zeitbank tr.zb_even { vertical-align: top; background-color: #e9e2c8; }

/**
 * Marktplatz
 */
table.market_overview { 
  width: 850px;
  border: none;
}

table.market_overview tr td { padding: 3px 5px 3px 5px; }
table.market_overview tr th { padding: 3px 5px 3px 5px; }

table.market_overview tr.head { background-color: #7BB72B; color:white; }
table.market_overview tr.odd { vertical-align: middle; background-color: #e9e2c8; }
table.market_overview tr.even { vertical-align: middle; background-color: #eeeeee; } 
 
table.market_details
{
  border: none;
}

table.market_details td.lb
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  font-weight:bold;
}

table.market_details td.value
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
}

table.zb_form
{
  border: none;
}

table.zb_form td.lb
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  font-weight:bold;
}

table.zb_form td.value
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  width: 500px;
}

table.market_form
{
  border: none;
}

table.market_form td.lb
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  font-weight:bold;
}

table.market_form td.value
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: top;
  border: none;
  width: 500px;
}

/* ##########################  Autocompleter  ########################### */

.autocomplete-suggestions { text-align:left; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { text-align:left; padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

input.autocomplete { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }

/* ##########################  Boxen  ########################### */

.info-box {
  font-size:12pt;
  color:#333333;
  line-height:20px;
  background-color:#D9EDF7;
  margin-top:10px;
  margin-right:0px;
  margin-bottom:15px;
  margin-left:0px;
  padding-top:15px;
  padding-right:15px;
  padding-bottom:15px;
  padding-left:15px;
} 
.primary-box {
  font-size:12pt;
  color:#FFFFFF;
  line-height:20px;
  background-color:#428BCA;
  margin-top:10px;
  margin-right:0px;
  margin-bottom:15px;
  margin-left:0px;
  padding-top:15px;
  padding-right:15px;
  padding-bottom:15px;
  padding-left:15px;
} 

/* ##########################  pagination  ########################### */

.pagination ul li, .list-footer ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.pagination ul, .list-footer ul {
  list-style-type: none; 
}

